---
layout: layouts/default.njk
permalink: ko/academy22/p-kr-20.html
title: 同事攝아카데미 - 一般課程 第 20 講 로고와 人生 三重奏
---
{% include breadcrumbs.html %}
<script src="js/academy22.js"></script>

<main data-main="academy22" lang="ko">
    <header>
        <div class="logo"> 同事攝아카데미</div>
        <h1> 一般課程 <small>－ 22 講 ( 動映像받아쓰기) －</small></h1>
    </header>
    <nav id="booknav">
        <input type="checkbox" id="button">
        <label for="button">
            <h2>目　次</h2>
        </label>
        <div id="booktoc">
            {% include academy22Menu.html %}
        </div>
    </nav>
    <section>
        <h2><span> 第 20 講</span> 로고와 人生 三重奏</h2>
        <div class="utube_iframe_wrap_outer">
            <div class="utube_iframe_wrap"> <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/dgxmb6tEg8k"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> </div>
        </div>
        <p> 로고라고 하면 여러分들 느낌이 어때요? 느낌이 무언가 와요? 로고하면? 同事攝의 로고는 世上 을 바라보는 관점입니다. 世上이 있고, 또 世上에는 世上을 사는 單子들이 있습니다. 라이프니쯔식으로
            表現하면 世上 에 存在하는 모든 것들을 單子라고 합니다. 하나님도 單子고, 사람도 單子고, 파리도 單子고, 볼펜도 單子고, 볼펜의 입자하나하나도 單子고, 그래서 世上은 單子들로 되어 있지요.
            그래서 그 單子는 世上을 바라보면서 世上을
            자기 주관 的으로 표상한다 하고 되어 있습니다. 굉장히 좋은 哲學입니다.</p>
        <p> 나는 내 속에서 라이프니쯔의 單子論을 상당히 원용하고 있습니다. 표상한다, 혹은 念體다, 하게 되면 딱 單子가 떠오릅니다. 世上은 하나이지만은 世上을 바라다는 자가 어떻게 바라보느냐에 따라서
            世上은 다양하게 이야기됩니다. 그래서 사람은 똑같이 생긴 것 같아도 世上 을 바라보고 찍은 사진을 내놓아 봐 하게 되면 다 자기 식의 사진을 내놓을 것입니다. 그 사진을 서로 대조해 보면 서로
            서로 사진이 너무 다릅니다. 그래서 “네가
            世上을 이렇게 보고 있구나” 하는 현상이 벌어지게 됩니다.</p>
        <p> 그러면 世上은 단순합니까? 복잡합니까? 대단히 복잡합니다. 그 대단히 복잡한 世上을 어떻게 날카롭게 디지털화를 해서 단순하게 바라볼 수 없을까, 하는 생각이 듭니다. 그런데 世上 하게 되면
            뒤숭숭, 뒤숭숭, 복잡, 복잡, 복잡, 이런 마음이 듭니다. 世上이 단순하게 느껴질 수 있다면 좋지 않겠습니까. 그래서 내가 디지털화의 大家인데. 자칭 大家인데 그 大家次元에서 世上을 딱 세
            조각으로 딱 정의해버렸어요. 그것이 同事攝로고입니다.</p>
        <p> 먼저 同事攝로고 歷史를 보면 한 35년 전이나 되겠네요. 용추사 시절이었는데 그때 로고的으로 딱 정의를 하고는 속에 환희심이 차있는 狀態였습니다. 于先 이 世界를 世界 自體라고 하는 한 축으로
            보는 겁니다. 世上 自體는 無記라고 했습니다. 선도 악도 아니고 모든 규정을 다 넘어선 物自體입니다. 그래서 世上 自體는 일단 내가 주관的으로 정의하기 이전 狀態 가 世上이니까 그것을 한 축으로
            잡는 것입니다. 그것을 그냥 存在層이라고
            합니다. 存在層. 한쪽을 存在層으로 딱 봅니다. 그런데 내가 世上을 보면서, 사람이 世上을 바라보면서 이원화 시킵니다. 이것이다, 저것이다. 예쁘다, 밉다. 가치화시킵니다. 世上을 이분법으로
            좋다, 나쁘다 式으로 바라보는 것입니다. 이분법의 틀도 다양하게 있는데 인간에게 있어서 가장 현실 的인 이분법은 좋다, 나쁘다입니다. 그래서 현실的으로 가장 問題가 되는 좋다 나쁘다 하는 축을
            생각하면서 世上은 그냥 있는데 주관
            的으로 이것은 좋다, 이것은 좋지 않다 하고 바라보는 것입니다. 그러니까 그냥 있는 存在層과 가치론 的으로 좋다 나쁘다 하는 층으로 나누어버리면 世上은 存在層, 價値層으로 나눠지고, 이 價値層을
            두고 좋다, 나쁘다 하고 바라보게 되면 다시 둘로 쪼개져서 세 조각의 그림이 되는 것입니다.</p>
        <figure class="illust"> <img loading=lazy alt="illust_ref_17-9-28" src="Images/illust_ref_17-9-28.jpg" />
        </figure>
        <p> 세상이 있는데 그냥 있는 世上을 반으로 쪼갭니다. 世上을 그냥 存在로만 딱 생각하게 될 때는 世上을 반으로 가르는 이 선이 없어요. 그런데 存在를 바라보는 意識영역이 하나 딱 열리고 意識영역은
            그 다음에 이 世上을 存在層과 價値層으로 딱 나누게 됩니다. 그리고는 價値層 을 딱 열어서 하나는 플러스 가치, 하나는 마이너스 가치, 이렇게 둘로 나눕니다. 그래서 存在層, 플러스 價値層,
            마이너스 價値層, 이렇게 한 사람의 意識 속에는
            宇宙를 두고 그 세 측면으로 느끼게 됩니다. 存在層으로 느낄 때는 存在層이 되고, 플러스 가치로 느낄 때는 플러스 가치가 되고, 마이너스 가치로 느낄 때는 마이너스 가치가 됩니다. 이러고 그냥
            하루하루 살아갑니다. 그러니까 同事攝로고는 世上 사람들의 意識을 整理해 놓은 거예요. 世上을 整理했다기보다는 世上을 바라보는 사람들의 意識 世界를 整理해 놓은 겁니다. 로고와 관련된 에피소드를
            하나 이야기 하자면 저것을 학님에게
            최초로 얘기를 해줬더니 환의작약 하면서 저 로고 그림을 천장에도 붙여놓고, 앞 벽에도 붙여놓고, 뒷 벽에도 붙여놓고, 옆 벽에도 붙여놓고, 변소에도 붙여놓고, 전봇대에도 붙여놓고, 담에도
            붙여놓고 그러고 살랍니다, 하더라고요. 이程度로 感動 表現을 했어요. 그래서 내 작품 빼내가지고 그렇게 感動해주는 사람 있어서 내가 기뻤습니다. 그래서 그 로고를 가지고 한 사람 살아났고,
            同事攝法理가 整理를 해 가면서 그 배경에 恒常
            로고가 있어서 로고的인 관점으로 同事攝 법리들이 整理가 되고 그랬습니다.</p>
        <p> 人生 三重奏와 로고의 關係를 보면 事實 처음엔 로고는 로고대로 있고, 人生 三重奏는 별도로 整理가 되었습니다. 그런데 나중에 人生 三重奏와 로고를 相應시켜 보니 거의 맞아 떨어져요. 결국은 로고
            놀음이었구나 했습니다. 그래서 人生 三重奏 의 頓忘은 存在層에 相應되고, 또 知足은 플러스로 相應이 되고, 구현을 마이너스로 相應시키려니까 처음에는 덜커덕 거리고 안 됐어요. 아니, 相應이 될
            법도 한데, 相應이 되면 너무 시원하고 좋겠는데
            했습니다. 두 가지가 하나로 통합되면 좋지 않겠습니까? 그래서 이러고 저러고 있는데 딱 통합이 되는 거예요. `그래서 저 로고를 중심으로 해서 人生 三重奏를 整理하는 것으로 이番 講義時間을
            갖자는 것입니다.</p>
        <p> 자, 人生 三重奏는特히 同事攝 工夫를 하신 分들에게 대단히 유익한 法理입니다. 왜 그런가. 同事攝一般過程의 法理 體系들은 제법 양이 많아요, 그래서 단순을 좋아하는 사람들에게는 제법 복잡합니다.
            그래서 同事攝하면 ‘아이고~~“ 하는 마음이 들 수도 있어요. 同事攝에는 무엇, 무엇, 무엇, 무엇 하는 것이 제법 되지 않습니까? 그런 마음 안 들어요? 事實 내가 그런 마음이 들거든요. 내
            意識은 너무 단순한데 同事攝을 열거하려면 내가
            복잡을 떨어야 됩니다. 그러니 복잡 떨기 좋아하는 나도 복잡하게 느껴지는데 世上 사람은 어떻겠습니까? 그래서 여러分들이 同事攝을 工夫를 할 때, 복잡 떨 때는 떨더라도 그 복잡한 것이 단순한
            이것이다 하고 딱 잡아내는 그 단순한 것이 바로 人生 三重奏 입니다.</p>
        <p> 여러분들이 5대 原理로 정체, 大願, 修心和合 , 作善다섯 개를 열거하고, 그 다음에 正體를 說明하고 大願을 說明하고 修心 說明하고 또 가지가 나와서 說明, 說明하고 자, 여기 할아버지, 아버지,
            손자 程度 가게 되면 同事攝하면 “아이고 아이고, 복잡해” 이럴 것 아닙니까. 그래서 이 복잡을 修心체계로 딱 잡아 버리십시오. 修心 1 번은 무엇입니까? 그냥 있음 이잖아요. 그래서 그냥 있음.
            存在로 그냥 있음. 로고的으로 말하면 쌍플러스입니다.
            자, 그냥 있음. 그러면 同事攝은 무엇인가. “아이고 아이고, 나 복잡해요” 이러지 말고 “ 同事攝이요? 그냥 있음입니다. ” 하십시오. 왜냐? 왜 그냥 있음 하나로 同事攝 을 이야기하는가 하면
            그냥 있음이 무한 OK 이기 때문입니다. 그냥 있음만 확연해버리면 다른 法理고 무엇이고 싹 쓸어버리더라도 그냥 있음 이것 하나로 완벽한 해방이고 완벽해 버리니 복잡 떨 것도 없습니다. 그러니까
            同事攝이 무엇이냐 하고 물으면 “
            同事攝이요? Very very simple이예요, 하면서 그냥 있음 이것이 同事攝입니다. ” 딱 그렇게 말하십시오. 아니, 그렇게 단순하냐? 예, 그렇게 단순합니다. 당신이 조금 더 복합的으로
            理解하고 싶다면 한마디만 더 해드리지요, 하고 딱 이렇게 말하십시오. 한 생각을 일으켜봐. 그러면 凡事 가 感謝하지 않은가? 한 생각을 딱 돌려서 肯定 시각을 딱 발동시켜봐. 世上이 얼마나 肯定
            肯定 肯定 肯定 肯定인가? 그냥
            있음이 실은 무한 OK 인데, 한 생각 딱 떠올리면 좋은 것이 무한으로 있다 하는 哲學이 同事攝이다. 그래서 頓忘知足, 그것이 同事攝 의 전부인 것처럼 말하세요. 처음에는 頓忘이 전부인 것으로
            이야기하세요. 너무 단순해서 조금 복잡을 원한다고 한다면 한 마디 더 가르쳐 줄까? 하면서 이렇게 말해 주세요. 한 생각 일으켜 보면 플러스 가치가, 肯定的인 가치가 무한수로 있다는 거야.
            그래서 凡事에 感謝하라는 기독교 말이
            그것인 것이고, 불교에서는 그것을 知足이라고 그래. 知足무한이야. 그것이 同事攝이야. 그래, 同事攝이 그게 전부야? 한다면 너, 조금 더 알고 싶어? 그 다음에는 구현이야. 그러고 이제 인연
            따라서 이것저것 조금 더 해보자는 거야. 頓忘, 知足, 구현이야. 그래, 무엇 무엇을 하냐, 그러면 또 이것저것 할 것들이 있지, 하고는 또 이야기를 살짝살짝 해주는 겁니다. 이것 저것 얘기하는
            過程에서 구현次元으로 5대 原理에
            이야기를 붙여서 해주세요.
        </p>
        <p> 처음에 만든 로고는 쌍플러스와 플러스와 마이너스였습니다. 마이너스는 不快 쪽이었어요. 동그라미 위쪽의 두 칸은 世上을 바라보고 기쁨을 느끼는 쪽과, 不快를 느끼는 쪽이었습니다. 쌍플러스는 苦樂을
            넘어선 捨境이고, 世上엔 樂境, 나에게 즐거움을 주는 경계가 있고 나를 괴롭히는 苦境, 괴롭힘을 주는 마이너스 경계가 있다. 그래서 世上은 그것이 전부다. 이렇게 整理를 했었지요.</p>
        <figure class="illust"> <img loading=lazy src="Images/illust_ref_20.jpg" alt="" /></figure>
        <p> 그랬는데 同事攝법리하고 연결해서, 人生 三重奏가 나온 다음에 로고와 한番 이어보려고 했습니다. 그랬더니 쌍플러스와 플러스는 통과가 되는데 마이너스가 좀 그렇다, 하는 감이 들었다고 했지
            않았습니까? 그런데 마이너스의 정의를 살짝 바꿔버리니까 解決되어버렸습니다. 정의를 苦境에다만 두면 다른 것은 包含 되지 않잖아요? 그래서 相應시키려고 하면서 마이너스의 정의를 바꿨습니다. 그
            정의는 이렇습니다. 쌍플러스에서는 해야 할 일이 있어요?
            아니면 없어요? 頓忘에는 없습니다. 그냥 있음이니까. 그러면 플러스에 가서 할 일이 있어요? 없어요? 플러스도 플러스라고 OK 하고 고개만 끄덕이면 될 뿐이기 때문에 할 일이 없습니다. 할 일이
            굳이 있다고 본다면 頓忘을 깨달을 일도 할 일이고, 플러스를 확인해 들어가는 일도 할 일 이지만은, 具體的인 作爲는 아니고, 내 속에서 인식만 하는 것들입니다. 그래서 인식으로만 으흠~으흠~하는
            것들이 있을 뿐이지, 具體的으로
            作爲할 것은 없거든. 그래서 쌍플러스와 플러스는 作爲가 아닙니다. 그런데 人生에는 作爲할 것이 있습니까? 없습니까? 있습니다. 있어요. 한정없이 많습니다. 그래서 전체 作爲過程을 마이너스로
            해버린 겁니다. </p>
        <p> 그래서 로고의 쌍플러스는 頓忘입니다. 그냥 있으니 頓忘천국이요. 이것은 存在 自體를 갈파하면서 느껴지는 나의 느낌, 意識 이것을 말하는 것입니다. 그 다음에 한 생각 일으키니 知足천국일세,
            했습니다. 이건 플러스입니다. 그리고 마이너스는 구현. 이렇게 했더니 우리 수냐님이 이 狀況이 잘 맞아떨어지지 않고 덜커덕 거리니까 이 구현을 빼버리면 어떨까요, 하더라고요. 그래서 내가 회심의
            미소를 지었어요. 내가 相應시키려고 할 때에
            덜커덕 거려서 복잡 떨었는데 이걸 자상하게 講義도 안했으니 그래지겠다. 說明까지 해서 납득시키는 것 보다는 읽으면서 덜커덕 거리니 차라리 없애버리면 좋겠다, 해서 처음에는 교재에서 이것을
            빼버렸어요. 교재에 보면 빠져 있을 것입니다. 그런데 只今 이 時間엔 붙여서 얘기를 하고 있습니다. 그러면 어떻게 해서 저 마이너스가 구현으로 이야기되는 걸까요? 마이너스의 정의를 바꾸면
            됩니다. 쌍플러스, 플러스는 作爲할 것이 없습니다.
            그냥 인식만 하면 되요. 그런데 여기 마이너스에서 제법 복잡하게 作爲 가 됩니다. 1번 作爲는 마이너스로 느껴지는 것을 플러스로 전환 시키는 것입니다. 그러면 이 전환 作業을 하기 위해 우리들이
            무엇을 합니까? 속상했을 때 나지상 暝想같은 것을 하지요? 나지상 暝想은 구현 作業의 하나입니다. 그 다음에 내 속에서 탐욕이 있습니다. 탐욕은 죽음 暝想으로 다룹니다. 또 없는 것을 있다고
            하는 어리석음이 있습니다. 그런 어리석음은
            어때요? 이런 어리석음을 벗어나기 爲해서 非我 暝想을 해야 됩니다. 世上 사람들이 누가, 얼마나 頓忘, 知足으로 삽니까? 일중주, 이중주 없이 그냥 구현 하나로 世上을 살고 있잖아요. 그런데
            구현 하나로 살지 말고, 구현의 前 단계로 頓忘, 知足을 확보해라 하는 것이 同事攝 의 가르침이지 않습니까. 이런 式으로 나지사 暝想, 죽음 暝想, 非我 暝想… 뭐 이런 式으로 暝想들을 하게
            됩니다. 또以外에 等等등 알파들이 있을 거예요.
            그런데 또 플러스를 더 플러스가 되도록 하는 作爲도 있단 얘기예요. 돈을 많이 벌어서 부자예요. 부자인데 더 부자 되려고 비즈니스를 강화시키는 것. 이것은 무엇입니까? 그것도 바로 구현이지
            않습니까. 그래서 쌍플러스, 플러스는 作爲가 필요 없는 意識 영역이고, 마이너스는 作爲를 요청하는 意識 영역이다, 하고 정의를 바꿔놓으니까 바로 相應이 딱 되었습니다. 그리고 3 番 알파로
            얼마든지 있을 수 있겠지요. </p>
        <p> 여기에서 여러分들에게 키포인트로 전하고자 하는 것은 삶의 현장을, 歷史의 현장을, 世界의 현장을 복잡하게 관조할 때는 복잡하게 관조할 수도 있어야 되고 단순하게 관조할 수도 있어야 한다는
            것입니다. 나는 복잡은 싫어~! 이것도 하나의 집중이고 편중입니다. 中道가 못됩니다. 나는 단순이 싫어~! 이것도 한쪽으로 편중 된 것입니다. 무엇이든지 양쪽으로 다 자재해야 합니다. 그래서
            양쪽에 다 능해야 됩니다. 그것이 균형 잡힌 인격인
            것입니다. 그래서 同事攝을 바라볼 때나, 世上을 바라다 볼 때 좀 복잡한 過程을 선택할 때는 원효대사처럼 복잡을 떠십시오.</p>
        <p> 원효대사는 불교 法理로 이야기하면 龍陀스님의 100배로 복잡한 사람입니다. A를 두고 둘로 나눕니다. 이래놓고는 윗 것을 1, 2, 3, 4로, 아랫 것을 1, 2, 3, 4로 합니다. 이정도
            되면 그나마 조금 단순합니다. 그런데 여기서 한 단계 더 나갔다고 해봐 1, 2, 3 ,4, 5, 6… 그리고 요놈도 1, 2, 3, 4, 5, 6…, 그리고 이것도, 이것도, 이것도….
            이래가지고 여기서 한 단계 더 나가서 이쯤 왔다면
            다 기절하지. 그런데 여기서 끝나는 것이 아닙니다. 어떤 놈은 또 나가지.</p>
        <p> 원효 대사의 작품을 보면 문어발입니다. 원효 대사의 머리는 얼마나 깨알같이 깨알놀이를 하는지 몰라. 그러나 그럴 수 있는 능력을 확보하고 있다는 것은 좋은 일이지요. 그런데 원효대사는 딱 닫을
            때는 완전히 無爲하나로 현존해버려요. 대자유입니다. 그래서 여러分들이 同事攝이라고 하는 다소 복잡한 듯한 늪 속에서 무엇인가 복잡해지면 同事攝을 바로 人生 三重奏로만 생각해 보세요. 그냥 있음이
            OK 로다. 그냥 있음이 너무도 OK로다.
            물론 인식은 조금 해야지요. 깨달음이라는 인식은 조금 보충 되어야지요. 깨달았다 하게 되면 이제 깨달아야 할 일도 없어진다고. 그냥 이대로 OK 로다. 한 생각 일으켜보니 凡事 가 感謝하다. 이
            世上에 存在하는 유형, 무형, 유정, 무정 모든 것들이 다 感謝 아닌 것이 없구나, 하는 이것이 이중주란 말입니다.</p>
        <p> 그냥 있으니 頓忘천국이요, 한 생각 일으키니 知足천국일세. 그러고 作爲하러 일터에 나아가니 신나는 구현 천국이로다, 할 때 이제 복잡을 떠십시오. 그러면 여러分들이 복잡 떨 것을 정하세요.
            同事攝에서는 플러스를 더 플러스로 하는程度에서 끝내줄 수 있습니다. 물론 그러하기 爲 해서 다양한 觀行들이 있어요. 다양한 觀行들이 막 이것저것 있습니다. 또 뭐가 있어요? 正體, 大願, 修心,
            和合, 作善을 하지요? 正體觀行을 하는 것이
            여기에 하나 들어가요. 또 大願도 觀行해야죠. 大願도 세 가지. 大願 三拍子, 세 가지程度 를 생각하면서 觀行해야죠. 또 作善도 다양한 作善 이 있죠. 또 作善과 같은 맥락에 있습니다만 보살도도
            있습니다. 이런 式으로 정진은 하시되 여러分들이 제 일감으로 頓忘, 知足에 머물러 있어야 됩니다. 그래서 내 共同體에서는 업무 1호가 뭐라 그랬지요? 頓忘, 知足이 업무 일 호다 합니다.
            여러分들께도 勸奬하는데 업무 1호는 頓忘,
            知足이다. 이렇게 생각하고, 恒常 頓忘 , 知足으로 OK 인 지평 위에서 구현 次元에서 이것도 해보고, 무엇도 해보고 하면 좋지요. 頓忘. 知足. 구현. 그래서 로고와 三重奏가 한 통속으로
            연결되는 겁니다.</p>
        <p> 오늘은 이程度로 합시다.</p>
    </section>

</main>