---
layout: layouts/default.njk
permalink: ko/academy22/p-kr-04.html
title: 同事攝아카데미 - 一般課程 第 4 講 正體, 大願 槪觀
---
{% include breadcrumbs.html %}
    <script src="js/academy22.js"></script>
<main data-main="academy22" lang="ko">
    <header>
        <div class="logo"> 同事攝아카데미</div>
        <h1> 一般課程 <small>－ 22 講 ( 動映像받아쓰기) －</small></h1>
    </header>
    <nav id="booknav"> <input type="checkbox" id="button">
        <label for="button"><h2>目　次</h2></label>
        <div id="booktoc">
            {% include academy22Menu.html %}
        </div>
    </nav>
    <section>
        <h2><span> 第 4 講</span> 正體, 大願 槪觀</h2>
        <div class="utube_iframe_wrap_outer">
            <div class="utube_iframe_wrap"> <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/rDufaeL2mhk"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> </div>
        </div>
        <p> 이 별표가 여러分들 마음에 혹시 안 드신다고 하면 이 표를 무시하십시요. 그냥 5대 原理를 說明하는 道具로 이 별표가 괜찮아서 가끔 별표를 써봅니다.</p>
        <p> 5대 原理는 正體, 大願, 修心, 和合, 作善입니다. 이 5대 原理는 바로 理想共同體 五要라고 했고, 이 5대 原理는 모든 것을 포괄하기 때문에 價値觀의 벼리에 해당이 됩니다. 三綱五倫等等이
            하나의 벼리 아닙니까? .</p>
        <p> 자, 그러면 이 時間에는 正體와 大願에 對한 槪觀을 먼저 합니다. 그리고 修心으로 들어갑니다. 正體부터 먼저 생각해 봅시다. 正體는 바로 《나》입니다. 正體 관은 自我觀입니다. 왜 自我의
            原理하고 하지 않고 正體의 原理라는 말을 썼을까요? 되도록 自我라는 말을 좀 피하고 싶었어요. 여러分들 《나》라는 말을 좋아하고 《나》라는 말을 많이 쓰고 계시지요? 그런데 그 《나》라고 하는
            그 槪念은 여러分들에게 毒物입니다. 왜냐? 그
            나, 나, 나, 나를 강력하게 하는 사람일수록 고통과 地獄과 전쟁을 많이 유발시킵니다. 그러고 모든 고통, 모든 전쟁의 뿌리를 타고 들어가면 그 뿌리에는 《나》다 하는 이 自我 意識, 나 意識,
            이것이 자리하고 있습니다. 왜 그럴까요? 혹시 그렇지 않다고 하면 그것은 思索 부족입니다. 가만히 思索해 들어가 보세요. 《나》다 하는 것이 얼마나 많은 고통을 내 스스로에게 만들어 주었는가?
            《나》다 하는 것이 인간관계에서
            얼마나 갈등을 빚어 주었는가? 생각하면 할수록 그것이 확연하게 됩니다. 99%로 확연해 지는 거예요. 1% 예외가 있을 수가 있습니다. 1% 예외는 《나》로부터 超越한 사람이가 《나》라고 썼을
            때는 毒이 아닙니다. 그 超越자는 《나》라고 써도 상관없는 거예요. 超越자가 아닌 사람의 境遇에는 《나》라는 말의 피해를 입을 확률이 거의 백퍼센트입니다. 그래서 내가 《나》라는 말, 자아라는
            말, 이것이 싫어서 正體라고 바꾸어
            써놓은 겁니다.</p> <figure class="illust"> <img loading=lazy alt="illust_ref_04-16-7" src="Images/illust_ref_04-16-7.jpg" /></figure>
        <p> 正體라는 말은 쉽습니다. 너의 正體는 무엇이냐, 할 때의 그 正體입니다. 여러分들은 《나》에 對한 관점이 좋아야 합니다. 이것이 결론입니다. 나에 對한 관점이 좋지 않으면 어떻겠습니까? 이 宇宙
            한 센터에 《나》가 있는데 그 《나》는 도둑놈이다, 하는 것 처럼 나에 對한 관점이 좋지 않다면 어떻겠습니까? 그러고 내 意識 空間에는 나에 對한 신념들이 짱짱하게 들어있어요. 나를 중심으로
            한 관점이 한없이 들어있는데 그 센터에
            있는 핵개념인 《나》의 아이덴티티가 좋지 않다면 어떻겠어요? 그것은 독을 삼킨 채 살고 있는 것과 같습니다. 그래서 이 自我觀, 正體관, 나에 對한 관점 自體가 어떠하냐가 第一重要합니다.</p>
        <p> 그렇다면 正體관을 좋게 하고 나쁜 正體관에서 벗어나기 爲해서는 어떤 作業이 필요할까요? 여기에서 네 가지 正體관을 이야기 하게 되는데 于先 否定的 自我觀, 否定的 正體관에서 얼른 벗어나라 하는
            것입니다. 나는 못났어, 나는 할 수 없어 한다든가 나라고 하는 存在는 그저 그렇고 그래 한다든가 하는 否定 的인 관점에서는 어서 벗어나라는 것입니다. 이것이 제 1 지침입니다. 여러分들이
            스스로를 한 번 떠올려 보십시오. 스스로를 떠올려
            볼 때 무언가 否定的이고 좋지 않다면 이것은 여러分 속에 否定的 自我觀 이 똬리치고 있기 때문입니다. 그래서 否定的 自我觀에서는 얼른 벗어나자 하는 것이 제 1지침입니다. </p>
        <p> 제 2 지침은 自身에 對해서 肯定적이어라 하는 것입니다. 否定的 自我觀에서 벗어나서 일단 肯定적 自我觀, 肯定적 正體관을 갖는 것입니다. 나는 괜찮은 사람이야, 나는 운이 좋은 사람이야, 나는
            只今까지 잘 해 왔어. 앞으로도 잘 해갈 存在야, 나는 내 家庭의 주인이니까 주인이 잘해야 되겠지? 이런 것이 肯定적 自我觀입니다. “나는 부처다” 하는 것은 그야말로 초 肯定的인 自我觀입니다.
            불교에는 내가 부처다 하는 사상이 있습니다.
            여러 分들이 스스로 나를 돌아보세요. 여러分들 속에 肯定的인 것들이 많은가요? 아니면 否定的인 것들이 많은가요? 肯定的인 것이 많지요? </p>
        <p> 그런데 2 번인 肯定적 自我觀에서 끝나지 않고 3번, 4번을 설정해 놓고 그것을 勸奬합니다. 왜 그럴까요? 肯定적 正體관, 이것이 아무리 좋아도 백년 안에 끝나게 되어 있습니다. 백년 안에
            나이가 들어가 20대가 30대가 되고, 30대가 40대, 40대가, 50대가 60세, 70세가 딱 됩니다. 나이가 그쯤 되게 되면 죽을 준비를 해야겠지요. 그러니 내가 여기에 묶여 있다, 肯定적
            自我觀에 묶여 있다고 해보십시오. 그러게 되면
            “나, 괜찮아” 하는 탑을 이렇게 세워 놨는데 이 모래성이 어떻게 될까요? 아무리 거대한 모래성도 밀물이 한番 와서 쑥 쓸어 가버리면 그냥 모래로 돌아갑니다. 재료로 흩어져버릴 이 사람, 肯定적
            正體관 次元에서 이 正體의 탑을 거창하게 세우고 있을 때, 時間이 지나갑니다. 時間이 지나갈 때 이 사람이 편할까요? 곧 쓰러져갈 이 正體를 내가 拍手를 치고 있기로는 늘 편치가 않습니다.
        </p> <figure class="illust"> <img loading=lazy src="Images/illust_ref_04.jpg" alt="" /></figure>
        <p> 편치 않은程度가 아주 심한 사람도 있습니다. 그런 사람은 靑少年 때부터 미리 죽음을 생각합니다. 靑少年들이 조금 있다가 죽을 것 아니냐 하면서 人生전부를 회색 빛깔로 만듭니다. 그 代表的인
            인물이 누군지 아십니까? 釋迦牟尼입니다. 釋迦牟尼는 靑少年시절에 죽음이 보였어요. 그래서 人生전체가 죽음 앞에서는 무의미 하다고 해서 죽음을 뛰어넘으려고 머리 깎고 산으로 갔던 겁니다. 그것이
            좋은 것인지, 어쩐지 잘 모르겠어요. 잘 풀리면
            좋고, 그렇지 못하면 갑갑한 일이지요. 그래도 釋迦牟尼는 운이 좋았습니다. 그래서 이 正體관이 肯定적 正體관에만 머물러 있어서는 안 된다 하는 이야기입니다.</p>
        <p> 그래서 여기에서 超越적 自我觀이 요청되는 것입니다. 超越 적 正體관. 이것은 깨달음의 경지입니다. 超越적 正體관은 단 的으로 무엇일까요? 불교식으로 말하면 無我입니다. 無我또는 非我라 하고
            眞空이라고도 합니다. 眞空的인 自我觀, 眞空的인 正體관, 無我觀, 이런것들이 超越적 自我觀 입니다. 그래서 “나, 나 했는데 나라고 할 만한 것이 본래 없었네” 하는 것이 확연한 깨달음으로
            오면 탑은 쌓아진대로 좋을 뿐이고 없어져도 아무렇지
            않다 하는 마음이 됩니다. 나이가 쉰 살이 되어서 깨달았다고 해 봅시다. 쉰 살 된 사람에게 내일 모래 죽음이 온다면 어떻게 할 것인가 했더니 ”No problem“ 이랍니다. 여러 分들은
            어떻습니까? 내일쯤 죽음이 온다고 하면 只今 약간 서글퍼지겠어요? 아니면 No problem! 하겠어요? 이 超越적 正體관이 확실해지면 내일 죽음이 온다고 해도, 이 瞬間에 온다고 해도 아무렇지
            않고 그대로 OK로 受容하는 마음이
            되는 것입니다. 이 부분은 修心장에서 투철하게 다루게 됩니다.</p>
        <p> 3 번이 되면 4번은 事實 필요가 없습니다. 4 번은 妙有적 自我觀, 妙有적 正體관입니다. 超越적 正體관이 확실해지면 그 다음 나의 모든 생각은 妙有입니다. 여러 分들이 正體次元에서 工夫해야 할
            것은 否定的 自我觀에서는 얼른 벗어나야 되고, 肯定的인 正體관을 정립해서 자기의 이 存在를 한없이 찬탄해야 되고, 그 다음에 이것은 죽음과 더불어 무너질 수 있는 存在이기 때문에 죽어도
            상관없으려면 나를 超越 해 버려야 된다는 것입니다.
            그것이 超越적 正體관입니다. 그 다음은 妙有적 正體관으로 넘어져도 엎어져도 몸이 상하지 않는 存在가 되는 것입니다. 이러한 것들은 特히 修心파트에서 투철하게 다루어집니다.</p>
        <p> 그 다음에 그러한 存在인 내가, 주인인 내가 우리 모두의 幸福을 爲해서 산다고 했습니다. 우리 모두의 幸福이라고 할 때는 세 가지를 留念 하세요. 大願을 通해서 여러分들이 工夫해야 할 것들은
            일단 세 가지면 충분합니다. 그것은 1. 質, 2. 量, 3. 起傳向입니다. 당신 가족 사랑해요? 예, 사랑합니다. 얼마나 사랑해요? 아주 사랑합니다. 그 아주에 程度 차이가 있겠지요. 건성건성
            사랑도 아주라고 할 수가 있어요. 진정으로
            사랑하는 것도 아주라고 할 수 있어요. 아주 라고 대답은 하지만 질 的으로 더 단수가 높을 수도 있고 낮을 수도 있습니다. 그래서 여러分들이 이웃의 幸福을 비는 마음에 眞情性 이 담기도록 하라는
            것입니다. 이웃의 幸福을 비는 마음의 眞情性, 이것이 질입니다. 眞情性 이 없이 이웃을 바라보고 이웃의 幸福을 빌고 있다고 한다면 좀 그렇지요. 진정으로 나는 그들의 幸福을 빈다 할 때 問題는
            질입니다. 暝想은 하면 할수록 그
            질이 달라지는 것을 알 수가 있어요.</p>
        <p> 그 다음은 양이 예요. 양이라고 하면 내가 그들의 幸福을 빌 때 그들의 범주를 얼마나 넓힐 것이냐 하는 問題입니다. 아까 내가 그린 동심원 그림이 어디까지 갔지요? 무한 宇宙까지 갔습니다. 무한
            宇宙에 存在하는 유형, 무형, 유정, 무정 모든 存在들의 幸福 解脫을 진정으로 빌고 빌면 그 양이 범우주的으로 넓어집니다. 그 넓은 그네들을 모두 보듬고 있는 마음에 정말로 眞情性이 있고 그런
            마음으로 사는 사람을 보살이라 하고, 聖者라
            합니다. 그리고 보살이 될 可能성, 聖者가 될 可能성은 皆有佛性 이라, 모두가 다 가지고 있습니다. </p>
        <p> 그렇다면 무엇을 通해서 그렇게 되겠습니까? 그것은 연습입니다. 늘 기도를 해보십시오. 천하의 주인인 이 일물은 무한 宇宙에 있는 유형, 무형, 유정, 무정 모든 存在들의 幸福 解脫과 맑고 밝은
            상생 기원을 위하여 이 일물의 전 存在, 전 에너지를 起傳向합니다 하는 기도를 한 번 하고, 두 번 하고 ,진정을 실어서 백 번을 해보세요. 백 번하고 나면 백 번 이전의 내 마음상태와 이후의
            마음상태는 본인이 느낄 만큼 차이가 납니다.
            아니 眞情性을 더 담아서 한다면 열 번으로 해서 더 차이가 나게 됩니다. 그래서 그것을 열 번, 백 번, 천 번을 했다고 해 봅시다. 하루에 한 세 번씩 365일을 했다 하면 천 번입니다.
            그러게 되면 1년 안에 내 마인드는 이미 世上의 그럭저럭한 사람들의 마인드에서 벗어나게 됩니다.</p>
        <p> 질과 양, 그 다음이 起傳向이라고 했습니다. 起傳向은 이렇게 해보세요. 起는 일으킬 起자이고 傳자는 보낼 傳 입니다. 나의 전 存在, 전 에너지를 들어서 相對方에게 전하는 거예요. 내 기운을 기
            일으켜서 전하는 것입니다. 그렇게 해보면 정말로 그 瞬間에 내가 對象 으로 여기는 그들에게 내 에너지가 싹 가는 것이 느낌으로 느껴질 것입니다. 일단 처음에는 착각처럼 느껴질 것입니다. 그런데
            氣가 다 보이는 사람이 있다고 합니다.
            민감한 사람들은 瞬間에 여기서부터 에너지가 쫘아 바람 흘러가듯이 가는 것을 알아버린답니다. 아바타에서 기 보내기를 해보았습니다. 그런데 “당신은 나한테 氣보낸다고 하는데 오지 않네요” 하는
            사람이 있었어요. 놀랍지요? 아바타에 그런 게임이 있습니다. 두 사람이 기 보내기를 하거든요. 그런데 내가 딴청 하며 했거든요. 그랬더니 그 사람이 “ 氣가 안 오네요” 하더라고요. 내가 얼마나
            깜짝 놀랐는지 모릅니다. 워매, 다
            들켜버렸네 하게 된 것이지요. 그래서 내가 “아, 죄송합니다. 내가 집중을 덜 했네요. 다시 합시다.” 했습니다. 그랬더니 “아, 이제 옵니다” 하는 거예요. </p>
        <p> 그러면 向은 무엇일까요? 향상 되소서, 이 狀態보다는 더 좋은 狀態로 향상 되소서, 하는 것입니다. 나의 전 存在, 전 에너지를 일으켜서 전하오니 당신의 복덕이 향상 되소서 하고 빌어주라는
            것입니다. 그래서 眞情性있는 마음으로 起傳向을 한 번 하고, 두 번 하고, 세 번을 하다보면 내 自身이 천하를 사랑하는 사람이 되는 것입니다. 특별한 요소가 없습니다. 이런 式으로 거듭 기도해
            보는 겁니다.</p>
        <p> 모든 생각, 모든 언어를 반복한다 하면 인품은 내가 반복한 그 관념, 반복한 그 소리대로 변하는 法입니다. 그래서 반복이 천재를 낳는다는 寸鐵은 인품에도 똑같이 적용됩니다. 좋은 경전 말씀,
            좋은 신념 體系를 반복해서 생각해보고, 반복해서 소리로 내보다 보면 그것이 내 몸이 됩니다. 그래서 正體와 大願, 이것이 우리 인품의 體가 되는 것입니다. 이 體와 相應해서 앞으로 修心이니 和合
            이니 하는 것들이 본격的으로 논해 집니다.</p>
    </section>

</main>