---
layout: layouts/default.njk
permalink: ko/academy22/p-kr-17.html
title: 同事攝아카데미 - 一般課程 第 17 講 場力
---
{% include breadcrumbs.html %}
    <script src="js/academy22.js"></script>

    <main data-main="academy22" lang="ko">
        <header>
        <div class="logo"> 同事攝아카데미</div>
        <h1> 一般課程 <small>－ 22 講 ( 動映像받아쓰기) －</small></h1>
    </header>
        <nav id="booknav">
            <input type="checkbox" id="button">
            <label for="button"><h2>目　次</h2></label>
            <div id="booktoc">
                {% include academy22Menu.html %}
            </div>
        </nav>
        <section>
            <h2><span> 第 17 講</span> 場力 </h2>
            <div class="utube_iframe_wrap_outer">
                <div class="utube_iframe_wrap"> <iframe width="560" height="315" src="https://www.youtube.com/embed/vMHgPz_5e7s" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
            </div>
            <p> 安寧들하세요.</p>
            <p> 이番 講義는 場力입니다. 오늘 아침에는 場力이라는 것을 중심으로 暝想을 이리저리 해봤는데 그 暝想結果가 아주 幸福합니다. 場力이라고 하는 것을 놓고 가만히 暝想하고 있는 것 自體가 사람 되는 길이기도 하겠다. 이런 것을 새삼 더 느꼈는가, 하는 氣分이 들어서 좋습니다. </p>
            <p> 場力. 어때요? 여러分들은 場力하면 뭐가 딱 감으로 떠올라요? 일단 槪念은 떠오르지요? 그러면 槪念 언저리에 제1 감으로 서리는 것이 무엇입니까? 場力이라는 槪念이 떠오르면서 그 언저리에 서리는 달무리와 같은 무엇. 그것이 場力개념이 世上에 傳達하는 메시지 일 거예요. 그 메시지가 어떻게 떠올라요? 이것이 이 時間의 키포인트가 됩니다.</p>
            <p> 모든 講義主題, 世上에 傳達하려는 메시지가 있습니다. 메시지 내용은 그냥 씨알과 같습니다. 씨알과 같은 이것이 딱 傳達되게 하기 爲해서 말씀이 엮어지잖아요. 씨알과 같은 이것. 이것이 키포인트인데 키포인트 하나를 傳達하고자 몸부림을 치는 것이 강사라고 할까, 이야기를 하는 자예요.</p>
            <p> 그러면 場力이라고 하는 것을 가지고 여러分들에게 이야기를 하는 龍陀스님은 그 키포인트를 어떻게 딱 잡고 있느냐 하는 것입니다. 場力의 키포인트는 이것입니다. 이 世上은 場으로 되어 있어요. 장은 空間입니다. 유형, 무형의 모든 空間입니다. 심지어는 인터넷 空間까지도 있어요. 다양한 次元으로 있지요. 그런데 우리들은 경험할 수 있는 次元이 어느 程度 한계가 정해져 있습니다. 그런데 靈性이 열리고 열리고 열린다고 하면 모든 次元을
                경험할 수도 있을 것이다. 이런 희망的인 생각들을 해봅니다. 一般的 으로 우리 인간들은 3次元 空間程度로 살고 있지요</p>
            <p> 좌우지간 장에는 에너지가 차 있다 하는 겁니다. 에너지가 차 있는데 그 장에 存在하는 자들은 에너지의 영향을 받아요. 에너지의 영향을 받는다고 하면 그 에너지가 좋아야 되겠지요? 좋아야 될 것 아닙니까. 그러려면 우리들이 할 일은 무엇이겠어요? 좋은 에너지가 흐르는, 좋은 場力이 흐르는 곳에 살아야 좋겠고, 여기에 좋은 에너지가 흐르는지 어쩐지 모르는 空間에서 산다고 하면 이 空間에 좋은 에너지가 꽉 차도록 어떻게 努力을 할
                수 없을 것인가 생각해 보아야 합니다. 그런 工夫가 只今 이 時間의 工夫입니다.</p>
            <p> 그런데 이 世上에는 다양한 次元의 空間이 있다고 했고 거기에는 에너지가 차 있는데 그 에너지가 영향을 준다고 했습니다. 그런 쪽으로 신경을 세우고 본다면 只今 이 자리는 어떨까 그려지지 않아요? 여기는 어때요? 이 자리는 에너지가 좋아 보여요? 어때요? 나는 좋아 보여요. 그러면 이 에너지는 왜 좋을 것 같아요? 이유는 다양하게 있을 것 같습니다. 바로 경복궁 옆이라서 좋다. 또 조계사 옆이라서 좋다. 아마 그런 이유도 있을
                거예요. 그 무엇보다도 여러 分들 마음이 좋아서, 그 좋은 마음을 가진 分들이 여기 왔다 갔다 하니까 그 마음의 에너지가 여기에 배어들게 됩니다. 그래서 좋아요. 그런 槪念이 場力입니다.</p>
            <figure class="illust"> <img loading=lazy alt="illust_ref_17-9-28" src="images/illust_ref_17-9-28.jpg" /></figure>
            <p> 場力개념을 좀 整理 해갑시다. 자 于先, 場力은 두 가지 槪念이 합해져 있습니다. 場부터 봅시다. 장이 무엇이라고 했지요? 장이란 空間입니다. 여러 次元의 空間을 장이라고 한다. 뭐, 이정도로 理解하면 좋습니다. 그럼 여러 次元이라는 말 속에는 유형, 무형, 等等등 많이 있을 겁니다. 심지어 인터넷 空間 까지. 여러分 인터넷 空間을 생각하면 느낌이 어때요? 나는 精神을 못 차리겠어요. 인터넷 空間을 떠올리면 하, 도대체 이것이
                무슨 空間인가 합니다. 空間은 우리들이 접하고 사니까 너무 뻔하지 않아요? 그런데 인터넷 空間을 어떻게 생각해보고 잡아보아야 할지를 모르겠어요. 그래서 인터넷 空間을 생각해보면 머리가 뱅글뱅글해가지고 막 쓰러질 것 같아요. 그런 감이 들어요. 그래요. 쓰러질 것 같다는 건 엄살스럽지만 결코 엄살은 아니예요. 인터넷 空間은 도저히 종잡을 수가 없어요. 어떻게 생겼는지. 분명히 커다란, 거대한 世界가 있거든. 하여튼 신기한
                일입니다. 그것을 인간이 관장하고 있잖아. 그러니 인간들도 요물들이야. 어떻게 인터넷 空間을 만들어가지고 이러고 저러고 하는지. 하여간 장은 그렇습니다.</p>
            <p> 그 다음에 場力이라고 했지요? 場力. 場力은 여러 次元의 空間에 차 있는 에너지예요. 場力의 정의는 空間에 차 있는 에너지程度일 것입니다. 이 에너지라고 하는 것이 그 自體는, 에너지 自體는 善이겠어요? 惡이겠어요? 선도 악도 아닙니다. 에너지 뿐 아니라, 이 컵도 선이겠어요? 악이겠어요? 이 自體는 선도 악도 아닙니다. 그런데 선도 악도 아닌 이것이 狀況에 따라서 달라집니다. 에너지 自體는, 場力자체는 양도 악도 아니다.
                다시 말해서 無記입니다. 事實은 無記를 깨달아야 됩니다. 자, 只今 無記를 깨닫자는 자리는 아니기 때문에 흘러갑니다만 이 無記에 對한 깨달음이 오는 것이 하나의 道通이어요. 칸트는 이 無記를 깨닫고 한 밥값을 크게 해가지고 純粹理性批判이라는 冊을 世上에 내서 모든 지식인은 그 책에 압도 되어버렸어요. 理解하고 압도된 자도 있지만 理解도 못하고 너무 어려워서 무릎을 꿇어야 되는 사람도 있습니다. 그렇게 된 책이 純粹理性批判입니다.
                純粹理性批判의 핵 槪念이 저 無記입니다. 物自體. 物自體 는 영원한 彼岸에 있다. 뭐 이런 식이지요.</p>
            <p> 그 自體는 선도 악도, 良도 惡도 아닌 無記인데 狀況에 따라서 양도 되고 악도 된다는 겁니다. 그러나 우리들은 그냥 사람이기 때문에 사람 중심으로 생각하게 됩니다. 사람 중심으로 이 에너지 場力에 對해서 생각을 해 볼 필요가 있어요. 자, 사람 중심으로 볼 때 어떤 에너지는 우리들의 幸福에 도움을 주는데 어떤 에너지는 불행을 조장해 줍니다. 그래서 幸福을 조장해주는 場力은 良場力이라고 하고, 불행을 조장해주는 에너지는 惡場力이라고
                합니다. 그래서 이 場力을 整理를 한다면 場力에는 良場力이 있고, 惡場力이 있습니다. 우리 사람 중심으로 말해서 탄산가스는 나에게 良場力이겠어요? 惡場力이겠어요? 일단 惡場力일 것입니다. 그러나 탄산가스가 또 어떤 境遇에는 惡場力이 아닙니다. 우리들에게 선으로 機能할 수 있는 境遇가 얼마든지 있으니까. 탄산가스를 잘 활용할 것 같으면 우리들 生活 속에 必要 한 많은 물건들을 만들어 낼 수 있어요. 그럴 때는 또 良場力이지요.
                탄산가스를 코 앞에다 두었을 때를 前提한다면 탄산가스는 惡場力이 됩니다. 그렇게 狀況적입니다.</p>
            <p> 그런데 이 良場力이 다시 둘로 나누어지고 또 惡場力도 둘로 나누어집니다. 良場力은 天然良場力과 人工良場力, 이렇게 둘로 나누어집니다. 사람과는 상관없이 저절로, 天然的 으로 우리 사람에게 좋은 場力이 흐르고 있을 때 그 場力을 天然良場力이라고 합니다. 天然良場力이라고 하면 여러分들에게 얼른 떠오르는 것이 무엇입니까? 무엇이 바로 떠오르지요? 明堂입니다. 明堂, 凶堂그러지요? </p>
            <p> 그리고 惡場力에도 天然惡場力이 있고 人工 惡場力이 있어요. 그러면 天然惡場力은 무엇이겠어요? 이것은 凶堂이예요. 明堂의 반대가 凶堂 입니다. 이 방에서도 어느 곳에는 凶堂인 자리가 있을 수 있어요. 밑에 水脈이 흐르고 있어. 水脈이 흐르고 있는 데 가서 방석을 놓고 앉아 있게 되면 어떨까요? 90일 동안 결재에 붙여서 앉아 있어. 그러면 틀림없이 그 사람 건강에 問題가 생겨요. 아이고, 알 수가 없네. 어째 몸이 이런가 모르겠네.
                병원에 가봐야겠다. 이런 狀況이 벌어지게 된답니다. 그런데 이 사람이 그 다음 다른 禪房에 갔어. 거기 가서도 또 水脈이 흐르는 곳에 앉아 있는 답니다. 그러니까 우연이라고 보기에는 뭣인가 因果관계가 있을 것 같지 않아요? 그래서 복을 많이 지으라는 겁니다. 前生부터 복을 많이 지었던 수행승이라고 한다면 水脈이 여기에 흐르고 있다면 異狀하게 여기에 앉지 않게 되고 꼭 水脈을 피해서 앉게 된다는 겁니다. 왜? 무엇이 도와서
                그럴까요? 복이 돕는 겁니다. 그 복이란 祖上 靈駕들이 돕는 것일 수도 있어요. 祖上 靈駕들이 와가지고 너, 거기 앉으면 안 되니까 저리 가, 하는 겁니다. 祖上이 와서 보고는 아이고, 자기 後孫 아무개가 水脈 위에 있거든. 그러니까는 어떻게 하든지 부추겨서 다른 데로 가게 합니다. 어째서 다른 데로 가고 싶은 마음이 날까? 只今 자리를 바꿀 수 있어요? 아, 그러세요? 그럼 저리 가세요. 이런 이야기는 내가 只今 만든
                이야기지만 있을 수 있다는 겁니다. 그리고 實際로 水脈 위에 늘 앉는 事例는 꼭 있어요.</p>
            <p> 자, 아무튼 人工良場力이란 사람이 努力해서 만들어낸 것입니다. 사람이 努力을 해서 밝은 기운이 흐르게 만들어 냈을 때 그 밝은 기운을 人工良場力이라 합니다. 그러면 于先 天然良場力은 사람이 이러고 저러고 할 수 있는 일이 아니니까 天然良場力에 가서 살려면 어떻게 하면 좋을까요. 복을 많이 지어야 되요. 복 짓는 것도 방법이 여러 가지가 있겠지만 作福 1 호가 보시입니다. 베푸십시오. 자꾸 베푸십시오. 그래서 天然良場力운운하는 것은
                이程度로 얘기를 끝냅니다. 지구 위에서 第一 가는 풍수가 와서 내가 둘러보니 당신 집은 여기쯤 지으면 좋겠네요. 여기다 집을 짓고, 어쩌고 해서 풍수도 먹고 삽니다. 우리 아버지 어머니 같은 境遇 는 이 풍수를 얼마나 신뢰했나 모릅니다. 아니 아버지 어머니가 아니라 아버지와 숙부님이 그랬어요. 그래서 풍수를 끼고 살았어요. 그런데 정말로 그 풍수가 제대로 했는지 모르겠어요. 내가 어렸을 때 두 풍수가 함께 왔는데 그
                두 사람이 토론하는 장면을 보고 어린 아이지만은 짐작을 했어요. 풍수끼리 서로 여기가 기다, 여기가 기다 하며 싸우는데 그거 큰 敎訓이었어요. 어떤 A 풍수가 어디라고 하더라도 절대的인 것은 아니겠구나 했습니다. 그래서 풍수 찾으려고 努力하는 것보다는 作福 하는 것이 좋다는 말입니다. 作福하면 절로 가서 明堂으로 가는데 이것은 天然的인 것이니까 그程度로 놔두고, 우리들에게 重要한 것은 어떻게 人工良場力을 만들것이냐 하는
                것입니다. </p>
            <p> 사람이 努力해서 人工良場力을 만드는 것이 쉽겠어요, 어렵겠어요? 모를 땐 어렵고 알면 簡單하다. 무엇이든지 모를 때 어렵고 복잡할 것 같은데 알면 簡單합니다. 이 寸鐵은 同事攝 이 개발한 명품 하나입니다. 同事攝에는 명품이 많아요. 명품 1호가 무엇이지요? 화 3 요 만들어 놓고 노벨평화상감이라고 했으니 화 3 요가 명품입니다. 理想共同體 三要를 정의해놓고 또 노벨상감이라고 했지요. 理想 共同體 三要, 理想共同體 五要 等等 명품들이
                많은데 人工良場力 5 대 결정요인 1, 2, 3, 4, 5도 명품입니다. </p>
            <figure class="illust"> <img loading=lazy src="images/illust_ref_17.jpg" alt="" /></figure>
            <p> 자 그러면 생각해 봅시다. 자기가 사는 곳을 良場力이 흐르는 곳으로 만들려고 하면 해야 할 것이 무엇이냐. 다섯 가지가 있어요. 또 플러스 알파로 其他 等等 있겠지만 일단 다섯 가지입니다.</p>
            <p> 첫째, 내가 氣分이 좋으면 됩니다. 늘 내 氣分 管理를 잘해서 氣分을 좋게 하는 것입니다. 氣分이 좋을 것 같으면, 이 氣分은 에너지잖아요. 이 氣分이 내 몸 속에만 있겠어요? 몸 밖으로 나갔다 들어왔다 그러겠어요? 나갔다 들어왔다 순환합니다. 그러니까 氣分이 좋게 暝想을 하든지, 음악 감상을 하든지 아무튼 내 氣分을 내가 좋게 관장을 하라는 겁니다. 그래서 이것을 情緖요인이라고 합니다. 그래서 情緖를 爲해서 여러分들이 努力하시지요?
                오늘 아침에도 기도라고 하는 暝想곡을 들었는데 내가 죽을 때는 이 곡을 틀어놓고 죽으면 좋겠다 할程度로 좋더라고요. 아~주 좋아요. 그때 내 情緖가 싸~악 좋아져요. 그러지 않아도 우리 원경님이나 주변 사람들을 예뻐하는데 내가 좋으니까 더 예뻐 보이더라고요. 그래서 내 숙소 空間 良場力이 오늘 아침에 내 情緖로 해서 업되었을 겁니다.</p>
            <p> 그 다음 요인이 무엇이냐. 표정 요인입니다. 표정이라고 해봐야 簡單합니다. 웃음 근육을 발달시키는 것이 핵심입니다. 미소입니다. 미소 근육. 그럼 미소 근육은 어떻게 하면 발달해요? 입술 양 옆을 끌어 올리면 미소 근육은 발달하게 되어 있어요. 여러 分들 한 번 이렇게 해봐요. 이렇게 해서 미소를 딱 짓고 있지요. 그러면 어째서 이것이 良場力을 만들어 내겠어요? 표정을 좋게 하고 있으면 표정에 相應한 情緖가 생기게 됩니다.
                그래서 미소 지으면 情緖가 좋아지지요. 情緖는 하나의 기운이라고 했는데 좋은 기운이 살살살 나와서 場力을 좋게 해버립니다. 그러니까 事實은 情緖요인과 표정요인은 因果로 붙어있는 狀況입니다. 그래서 표정을 좋게 하라는 겁니다. 여러分들, 바로 只今 느낄거예요. 그래서 으흠~~ 이걸 하라는 거예요. 속이 상할 때도 으흠~~. 누가 이 새끼, 저 새끼 하고 나한테 욕을 했어. 그러면 으흠~~ 아무개가 나한테 이 새끼, 저
                새끼 하는 구나. 너무 고맙구나. 내가 살아있음을 증명해주지 않냐. 아이고, 고맙다. 으흠~~~. 이 世上이 아주 역경계가 되어도 내가 얼마든지 천국으로 만들어 버릴 수가 있는 거예요. </p>
            <p> 그 다음 하나가 언어입니다. 언어. 말입니다. 내가 말을 부드럽게 하게 되면 自然히 부드러운 그 말이 어디로 가요? 내 신체와 情緖 에 영향을 미칩니다. 그래서 될 수 있으면 남성언어보다도 여성언어가 좋아요. 야, 시장에 가자! 이러지 말고 (이건 남성언어지요) 시장에 가보면 어떨까, 이렇게 여성언어를 쓰는 것도 언어요인에 들어가요. 그렇지 않아도 임꺽정처럼 생긴 가장이 야, 시장에 가자! 이러면 본인은 어때요? 본인이 다치게
                됩니다. 또 그 언어는 옆의 사람을 다치게 해요. 본인도 情緖的으로 손상을 입어서 惡場力 이 나오게 되고, 옆의 사람까지 손상시켜서 惡場力이 됩니다. 이 언어요인 아주重要한 부분입니다.</p>
            <p> 또 行動요인이 있어요. 行動, 몸짓. 여러分들의 몸짓이 良場力에 기여하겠는가를 보세요. 예를 들어 몸짓, 강남스타일이라는 춤 같은 것이 좋은 良場力이 되더라니까요. 아, 흔들흔들, 이러면 말이야 괜히 氣分이 좋아지려고 그래요. 그렇게 行動요인으로 춤을 추는 겁니다. 그 다음에 또 옆 사람에게 같은 값이면 따뜻한 마음으로 악수를 해요. 악수 좀 하자니까 行動요인을 뻗대면서 써버렸어. 그랬다면 相對方 氣分이 좋겠어요? 그러니까
                비슷한 行動같지만 각도를 어떻게 했느냐는 惡場力요인이 되느냐 良場力 요인이 되느냐를 左右하게 됩니다. 그래서 行動을 그때그때 어떻게 하느냐 하는 것이 場力에 영향을 줍니다.</p>
            <p> 그 다음은 환경요인. 이것은 뻔 하지요. 환경요인은 무엇이지요? 환경요인이라고 하면 1호가 청결입니다. 좀 깨끗하게 살 필요가 있어요. 또 물건들 整理정돈입니다. 그래서 청結果 整理정돈은 도량윤리 1호다, 나는 그렇게 생각하고 있어요. 整理 정돈. 이것을 소홀히 하는 사람들 사는 꼬락서니란. 그 방 문을 살짝 열어보지요. 이건 완전 아수라장입니다. 아, 이래가지고 이 양반 情緖가 얼마나 좋을까, 그런 마음이 듭니다. 내가 우리
                共同體에서 방마다 가끔 열어봅니다. 이 친구, 환경 어찌 해놓고 살까 하고 말입니다. 우리 원경님 방도 가끔 열어봐. 환풍은 좀 잘 시켰나. 좀 이래가면서 열어봅니다. 밝음님 방도 열어보고, 가끔은 우리 연화님 방도 열어보고. 그나마 연화님 방이 최고로 좋아요. 연화님 방에서의 느낌이 場力次元에서는 第一 좋은 것 같아요. 환경요인이重要합니다. 于先 整理정돈. 또 무엇이 있겠어요? 오디오 시스템 같은 것도 있어서 음악
                감상도 한다. 또 좋은 그림도 걸어놓고 그림 감상도 하면서 산다, 하는 겁니다. 내 방에 아주 기가 막힌 사진이 하나 있는데, 참 좋아요. 가서 문득문득 그 사진만 슬쩍슬쩍 봐도 참 좋습니다. 우리 修練場에서는 이 다섯 가지 중에서 언어요인을 第一 강조를 해서 이걸 가지고 본격的인 實習에 들어가게 됩니다. </p>
            <p> 여기에서는 時間이 없으니까 두 가지만 생각해 봅시다. 언어 중에서는 덕담을 떠올리세요. 언어는 덕담이다 하고 아예 寸鐵로 보관해 두세요. 인간관계에서 덕담이야말로 1g 1t의 原理에 相應하는 것입니다. 덕담 한마디 슬쩍슬쩍 해주는 것이 주변 사람을 굉장히 격려하게 됩니다. 덕담하는 내 마음에 내가 좋아서 내 속에서 良場力이 만들어져서 환경을 良場力권으로 만들 것이고, 내 덕담의 對象이 되는 사람은 따뜻한 덕담을 듣고 느낌이
                좋아져서 良場力을 뿜어낼 겁니다.</p>
            <p> 그 다음에 行動요인은 존중입니다. 같은 값이면 사람하고 관련된 자리에서 모든 行動은 존중하는 行動이 되도록 합니다. 왜? 제 15강에서 사랑욕, 인정욕을 말했지요? 그런데 사랑욕, 인정욕을 말하기 前에 존중욕을 넣는 것이 좋겠어요. 존중욕은 사랑욕에 들어갈 수도 있습니다. 들어갈 수는 있으나 사랑욕 속에서 존중욕을 찾아내기는 좀 어려울 수 있으니 별도로 존중욕, 사랑욕, 인정욕 이렇게 정의를 해도 좋겠습니다 . 어른이나 아이나
                할 것 없이 그 사람을 인간的으로 존중해줄 때 일단 氣分이 좋은 겁니다. 그래서 行動요인은 존중을 떠올리고 언어요인은 덕담을 떠올려서 이 다섯 가지가 요인으로 良場力수위를 높아지게 하자는 것입니다.</p>
            <p> 자, 그렇다면 이제 딱 결론으로 簡單하게 한마디 하고 이 時間마치기로 하겠습니다. 우리가 良場力, 場力 工夫 를 했습니다. 그러면 결론的으로 내가 살고 있는 이 空間을 천국 에너지가 흐르게 하려면 평소에 내가 마음 管理 잘해서 氣分이 늘 좋을 필요가 있겠고 그 다음에 표정도 같은 값이면 다홍치마. 스마일~ 스마일~ 으흠~~ 속이 상해도 으흠~ 이래야 되겠지요. 그 다음에 언어. 언어 하게 되면 따뜻한 말로, 관심 있는 말로,
                사랑에 찬 말로, 덕담 중심으로 해서 나도 좋고 주변 사람도 좋게 해서 良場力 수위가 높아지게 합니다. 또 行動. 行動여하에 따라서 또한 내 속의 情緖가 달라집니다. 情緖가 恒常 초점입니다. 情緖가 바로 에너지원이예요. 그러니까 情緖가 대단히重要합니다. 마지막엔 니르바나 情緖입니다. 이 情緖. 이것을 爲해서 다시 한番 1. 情緖요인, 2. 표정요인, 3. 언어요인, 4. 行動 요인, 5. 환경요인을 생각합니다.</p>
            <p> 生活반경을 이쪽으로 잘 管理해서 내가 있는 이곳의 良場力이 넘치도록 해야 되겠다 하고 속으로 생각을 한다면 이 時間이 좋은 時間이 되었을 것입니다.</p>
            <p> 여러분들 祝賀합니다.</p>
        </section>

    </main>