---
layout: layouts/default.njk
permalink: ko/academy22/p-kr-06.html
title: 同事攝아카데미 - 一般課程 第 6 講 修心 2. 修心體系
---
{% include breadcrumbs.html %}
    <script src="js/academy22.js"></script>

<main data-main="academy22" lang="ko">
    <header>
        <div class="logo"> 同事攝아카데미</div>
        <h1> 一般課程 <small>－ 22 講 ( 動映像받아쓰기) －</small></h1>
    </header>
    <nav id="booknav"> <input type="checkbox" id="button">
        <label for="button"><h2>目　次</h2></label>
        <div id="booktoc">
            {% include academy22Menu.html %}
        </div>
    </nav>
    <section>
        <h2><span> 第 6 講</span> 修心 2. 修心體系</h2>
        <div class="utube_iframe_wrap_outer">
            <div class="utube_iframe_wrap"> <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/eAZskM5gydc"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> </div>
        </div>
        <p> 지난 講義에서 여러分들은 탐.진.치라는 煩惱構造가 어떠한 經路를 거쳐서 나에게 形成되었는지를 理解하셨을 것입니다. 이番 時間엔 그 理解의 바탕 위에서 번뇌 問題를 어떻게 解決해 갈 것이냐 하는
            解決론을 修心體系라는 이름으로 工夫하겠습니다. 지난番은 修心 1 이었고 오늘은 修心 2 로 修心體系 工夫가 되겠습니다.</p>
        <p> 修心體系에 들어가기 前에 여러分들이 떠올려야 될 것이 있습니다. 지난 時間에 意識 空間을 어떻게 나누었지요? 셋으로 나누었지요? 하나는 텅 빈 意識 空間, 또 하나는 念體인데 念體에는 肯定的인 肯定
            念體와 否定 的인 否定 念體가 있습니다. 우리들의 이 意識 空間은 이렇게 셋으로 되어 있습니다. 그럼 이때 마음공부를 어떻게 하면 되겠습니까? 否定 念體를 淨化하는 것도 마음공부길의 하나이고
            肯定的인 것을 북돋우는 것도 工夫길의 하나입니다.
        </p>
        <p> 자, 그러면 여러分들의 손을 들어 올려 보세요. 손에는 엄指 하나와 검指, 中指, 無名指 그리고 새끼指 해서 다섯 개의 손가락이 있습니다. 엄指 하나와 나머지 네 손가락이 있지요? 이 엄指의
            이름은 主波羅蜜이라고 합니다. 波羅蜜이란 修心방법이라는 뜻입니다. 修心방법, 바른 工夫법이 波羅蜜입니다. 그래서 主波羅蜜이란 主 方法, 主 工夫法이라는 意味입니다. 그 다음의 네 個 손가락을
            助波羅蜜이라고 합니다. 그리고 이것 外의 其他를
            細波羅蜜이라고 그럽니다. 主波羅蜜하나, 助波羅蜜이 네 개, 細波羅蜜은 無數히 많습니다. 이렇게 整理해 놓고 說明을 해나갑시다.</p>
        <p> 여러분들이 主波羅蜜을 工夫하려면 어떻게 해야 되겠어요? 내 意識 空間에 念體들이 끼기 이전에 宇宙的으로 열려있는, 탁 트여있는 것이 無爲 念體입니다. 이런 意識 空間이 있겠구나 하는 것이
            믿어집니까? 그것을 믿는 것 自體가 벌써 工夫 에 들어간 것 입니다. 그러면서 여러分들이 只今 留念해 볼 것이 있습니다. 이 텅 비어있는 意識 空間과 肯定的인 것이든 否定 的인 것이든 무언가
            念體가 차있는 空間이 몇 대 몇으로나 느껴지십니까?
            어떻습니까? 肯定 念體, 否定 念體를 合해서 이것을 그냥 좁은 의미의 念體  空間이라고 합시다. 왜 좁은 의미라는 말을 쓸까요? 意識 空間 自體가 끝내는 念體이기 때문입니다. 이 부분을 이렇게
            확실히 해 놓읍시다. 그래서 좁은 意味로 念體라고 할 때는 肯定 念體 나 否定 念體, 이런 것이지만 넓은 意味로 쓸 때는 이 意識 空間 도 念體라는 말입니다.</p>
        <p> 이렇게 前提해 놓고 좁은 意味로 肯定 念體, 否定 念體를 合해서 念體 空間으로 하고 나머지를 텅 빈 意識 空間이라고 할 때 그것이 몇 대 몇으로나 느껴지냐 하는 것입니다. 일단 기본 的인 것은 99
            대 1입니다. 이것은 양보해서 99 대 1입니다. 더 제대로 표기한다면 99.99 대 0.01 입니다. 왜 그럴까요? 宇宙도 마찬가지입니다. 外宇宙에서 별들을 전부 뭉뚱그려 合해서 하나의 별
            덩어리로 만들었다 해봅시다. 그러면 완전히
            텅 비어있는 宇宙 空間과 이 별 덩어리는 몇 대 몇이나 되겠어요? 99.99 대 0.01 입니다. 그럴 것 같습니까? 이것을 비유하자면 잠실에 있는 무슨 운동장과 그 속에 있는 축구공입니다. 잠실
            운동장 크기가 宇宙고, 모든 별을 싹 합해 보아야 그 축구공 하나밖에 안 된다는 것입니다.</p>
        <p> 이 텅 빈 意識 空間이 主波羅蜜에 해당됩니다. 우리들이 할 것은 이 意識 空間이 있다고 于先 믿는 것 입니다. 99.99 %가 텅 비어있는 意識 空間이 있다고 하는 쪽을 믿는 것 自體가 工夫법의
            하나입니다. 그런데 同事攝에서는 믿으면 된다고 하지 않고 只今 바로 깨달아 버려라 그럽니다. 그것을 깨닫는 것은 고급課程에서 본격 的으로 다루고 있습니다. 그래서 意識 空間 이것을 확연하게
            깨달아서 딱 首肯했을 때 頓忘을 파지했다고 하게 됩니다.
            그래서 이 主波羅蜜이것이 頓忘 暝想입니다. 그 다음에 助波羅蜜이 네 개라고 했지요? 검지, 중지, 無名지, 새끼지 네 개인데 이 검지에 들어가는 助波羅蜜을 知足 暝想이라고 합니다. 그 다음 중지는
            非我 暝想입니다. 無我 暝想이라고 해도 좋아요. 無名지는 죽음 暝想그리고 마지막 것을 나지사 暝想 이라고 합니다. 나머지 細波羅蜜은 무수 합니다.</p>
        <p> 그러면 무수한 細波羅蜜은 무엇일까요? 숨쉬는 것도 細波羅蜜입니다. 밥 먹는 것도 細波羅蜜입니다. 위의 다섯 개를 빼고 나머지 모든 것, 마음공부에 必要한 모든 것이 細波羅蜜에 들어갑니다.
            그러니까 細波羅蜜이 第一重要할 수도 있어요. 숨쉬는 것도 細波羅蜜이니까 第一重要하지 않겠습니까? 숨 쉬지 말라고 하면 큰일 아닙니까? 그런데 숨 쉬는 것은 가르쳐주든 아니든 누구나 다 이미 하고
            있기 때문에 중시하지 않을 뿐이지 細波羅蜜이라고
            해서 主波羅蜜이 第一重要하고 그 다음으로重要한 것은 助波羅蜜이며 細波羅蜜은 그 다음으로重要하다는 그런 槪念은 아니라는 말입니다. 그런데 講義時間에 중시하지 않는 까닭은 너무 당연하니까 중시하지
            않을 뿐입니다. 여러 分들이 당연하게 숨도 잘 쉬고 있고, 먹지 말라 해도 밥 잘 챙겨먹을 것이니 정말 고마워요. 여러分 들이 밥 안 먹고 앉아 있으면 내가 갑갑할 것입니다. 저 놈을 어떻게
            먹여야 될 것이냐 할 텐데 먹지 말라
            해도 착착 먹으면서 건강問題 解決해 주니까 내가 편합니다. 여러分들이 잘 하니까 細波羅蜜은 큰 걱정하지 않습니다.</p> 
            <figure class="illust"> <img loading=lazy
            alt="illust_ref_06-22-56" src="Images/illust_ref_06-22-56.jpg" /></figure>
        <p> 그런데 이 손가락 부분 工夫를 좀 더 해주면 좋겠다 하고 이것을 勸奬하는 겁니다. 이 知足 暝想은 煩惱構造의 어디에 해당되겠어요? 煩惱構造에 不滿 思考 가 있지요? 不滿 思考는 特殊상황입니다. 왜
            特殊 狀況이냐? 이 복잡한 번뇌 構造에서 實體 思考, 價値 思考에서 欲求가 생기고 그것이 마음대로 성취되지 않아서 憤怒가 생깁니다. 그 欲求 憤怒가 반복되면서 만들어진 것이 불만 思考입니다. 實體
            思考, 가치사고, 不滿 思考가 痴이고
            欲求가 貪, 憤怒가 瞋인데 그 중에서 이 不滿 思考를 特殊 狀況 이라고 했습니다. 왜 그런가가? 不滿 思考 하나만 解決되어 버리면 幸福의 99%가 解決되기 때문에 그렇습니다. 그러니 실은 이 不滿
            思考하나에 幸福論전부를 걸어도 될程度예요. 왜냐하면 不滿 思考척결이 幸福의 99%를 解決해 주기 때문입니다. 그런데 同事攝 에서는 이것으로 滿足하지 않습니다. 나머지 0.0001라고 하는 놈이
            또 다시 커져서 問題를 일으키니까
            아예 拔本塞源하도록 합니다. 不滿 思考해결로 끝내 온전히 滿足할 수는 없다는 것입니다. 이 實體 思考를 근본的으로 뿌리 채 뽑아 버려야 解決되지 이 實體 思考를 解決하지 않고 不滿 思考부분만
            解決하면 된다는 것이 아니기 때문에 이 實體 思考까지를 解決 하고자 하는 겁니다. 그러나 一般的인 幸福論은 不滿 思考척결 하나로 충분합니다.</p>
        <p> 그러면 不滿 思考를 척결하는 방법 하나는 무엇일까요? 이미 滿足된 狀態에 있다고 하는 것을 딱 알아버리면 되는 것입니다. 그것이 知足 暝想입니다. 滿足된 狀態 있음을 아는 것이 知足입니다. “현재
            저는 滿足할 수가 없습니다. 이래서 滿足 못하고, 저래도 滿足 못하고, 그래서 滿足을 못합니다” 라고 얘기할 사람이 천 번, 만 번 있을 수 있다 하더라도 조금만 精神 차리고 살펴보세요.
            연찬을, 思索을 해 보세요 그러면 이미 엄청
            幸福 속에 있다는 것을 깨닫게 하는 것이 知足 暝想입니다. 그래서 이 知足 暝想이 물꼬가 뚫렸다 하면 不滿 思考가 척결되어서 幸福의 99%를 解決해 버리는 것입니다.</p>
        <p> 여러분들은 知足 暝想을 꽤 해왔을 것입니다. 그래서 只今쯤은 이 자리에 계시는 여러 分程度는 知足이 이미 여러分들의 피가 되어 있어야 합니다. 어떻습니까? 피가 되어 있다면 어떤 현상이 생길까요?
            징징이 끝나야 됩니다. 징징, 썅이 끝나야 합니다. 썅 하려고 하다가 넘치는 幸福 속에 있음에 그냥 딱 精神 차리게 되니까 썅이 그 瞬間 사라져 버려야 합니다. 그것이 知足명 상입니다. 그래서
            오직 知足 暝想하나만 가지고 靈性프로그램을
            운영하는 곳도 있습니다. </p>
        <p> 그 다음에 非我 暝想은 實體 思考, 價値 思考 부분에 해당됩니다. 이 槪念이전 부분은 主波羅蜜인 頓忘 暝想권에 해당되고, 이 不滿 思考는 知足 暝想에 해당됩니다. 그런데 知足 暝想만으론 拔本塞源이
            되지 못합니다. 知足 暝想 은 99.99 %를 解決하지 100.00 %를 解決 하는 것이 아닙니다. 頓忘까지 아우르는 槪念일 때는 拔本塞源이라는 말이 되지만 一般的인 知足f사고로는 100% 가
            되지 못합니다. 물이 99 도까지 끓잖아요?
            그런데 그 물이 100 도가 됨과 同時에 液體圈을 벗어나서 氣體圈으로 증발해 버립니다. 그래서 幸福이 무한으로 둔갑하는 겁니다. 그렇게 무한으로 둔갑하려면 이 實體 思考와 가치사고를 근본的으로
            뿌리 뽑아야 합니다. </p>
        <p> 實體 思考와 價値 思考는 槪念이 두 개일 뿐이지 事實은 그냥 한 덩어리입니다. 동전의 양면과 같은 것이지요. 내가 노트라고 이름을 붙였을 때는 이미 노트가 가치 있기 때문에 이름을 붙이는
            것입니다. 그래서 實體시했다 하면 이미 가치는 前提되기 때문에 논리的으로 선후가 있는 것이지 그 둘은 事實上 같은 물건입니다. 이것이 있다고 前提하니까 있는 이것을 欲求할 것 아닙니까?
            그렇지요? 그런데 가치 있게 여겨지는 이 存在의 實體
            를 어떤 관점으로 딱 봤더니 그것이 없다는 것입니다. 이런 관점으로 보니까 있는 줄 알았는데 요런 관점으로 보니까 없다면, 자, 이렇게 보니까 있는 것 같고, 요렇게 보니까 없는 것 같다고 하면
            여러分은 어느 관점을 선호하시겠습니까?</p>
        <p> 현실적으로는 두 관점을 다 선호해야 됩니다. 그러나 완벽한 解脫을 해버려야 되겠다고 한다면 요 관점은 필히 잡아야 됩니다. 요 관점을 잡지 않고 이 관점만을 계속 잡고 살면 어떻게 된다고
            했습니까? 99 %까지는 幸福할런지 몰라도 나머지 1 % 때문에, 그 1 %가 다시 워밍업을 하면서 마구 커집니다. 눈덩이 어때요? 처음에는 주먹 만 한데 살짝 굴리고 살짝 굴리고 하면
            커지지요? 1이라고 하는 이놈의 存在 構造가, 存在 속성이
            그렇게 생겼습니다. 釋迦牟尼라고 하는 사람은 참 투철한 사람이었어요. 적당주의가 아니었습니다. 완전히 뿌리 뽑아버려야 된다는 것이 釋迦牟尼 속에 있어서 存在 自體를 問題 삼았던 것입니다. 存在를
            問題 삼고서 딱 보았더니 아, 없는 것입니다, 空한 것입니다. 그래서 불교의 그 무아사상, 空思想이 나와서 그것이 불교 전부인 것처럼 된 것입니다. 왜 空思想이 불교의 전부라고 해도 될까요?
            그것을 解決했더니 내가 100.00
            % 완전 무한 OK가 되버리기 때문에 그것 하나를 전부라고 내걸어도 된다는 말입니다. 그러니 이것을 있다고 여기는 관점을 택해야겠습니까, 아니면 이것을 없다고 여기는 관점을 선택해야겠습니까? 이
            實體 思考, 價値 思考 는 非我 暝想과 이어지고 不滿 思考는 知足 暝想과 이어집니다. 存在 실상을 問題 삼아서 그것을 두드려 보았더니 없다고 하는 결론에 이른 그 관점이 바로 非我 暝想입니다.</p>
        <figure class="illust"> <img loading=lazy src="Images/illust_ref_06.jpg" alt="" /></figure>
        <p> 지족 暝想으로 해서 99 % 幸福해졌습니다. 그런데다 여기에 非我 暝想이 보태집니다. 본래 空하네, 본래 無一物이네 하는 式으로 非我 暝想이 OK가 되면 知足 暝想으로는 온전히 감당하지 못하던
            부분까지 딱 보완이 되면서 무한 OK가 되는 것입니다. 이렇게 무한 OK가 되면 頓忘 暝想이 필요가 없을程度가 된다는 말입니다. 그런데 어째서 이 頓忘 暝想이 必要하다고 했습니까? 助波羅蜜들을
            解決하지 않고 가만히 놔두더라도 頓忘하나만 해서
            무한이 되버리는 길이 빤히 있다는 말입니다. 그래서 頓忘이라는 접근법도 같이 한다는 것입니다. 그러면 頓忘접근법이 확실히 열린 자는 助波羅蜜을 게을리 해도 될까요? 게을리 해도 됩니다. 頓忘 만
            투철하게 해도 되지만 가끔 심심하니깐 이것도 해주자는 말입니다.</p>
        <p> 그 다음, 죽음 暝想은 欲求와 연결됩니다. 여러分들이 죽음에 임해서 아무 걸림 없이 죽을 수 있다면 좋겠지요? 그런데 내가 죽으려 할 때 걸리지 않고 딱 죽지 못하는 것은 왜 그럴까요?
            무엇인가를 내가 잡고 있기 때문에, 내가 그것을 애착하고 있기 때문에 죽지 못하는 것입니다. 그렇다면 내가 애착하고, 欲求하고 있는 것이 무엇이냐 하는 것을 알아야 합니다. 그래야 그것 하나
            하나를 대청소할 것 아닙니까? 내가 欲求하는 것이
            무엇이냐 하고 여러 分들에게 한 번 써보라고 하면은 아마도 그 갯수가 100 개는 쉽게 써질 거예요. 그런데 이것 100 개를 써놓고 100 개를 전부 解決하라 하면 할 사람이 있겠습니까?
            아이고, 내가 할 일이 너무 많은데 뭐 이거 하나 하나를 잡고 이러고 있냐 하면서 나, 이것 안 할란다 하게 됩니다. 그래서 내가 꾀를 쓴 겁니다. 이런 것 다 필요 없다. 그냥, 너 걸리지
            않고 죽을 수 있어? 이것만 묻자 한 것입니다.</p>
        <p> 자, 只今 당신 앞에 毒杯가 있는데 걸리지 않고 그걸 마시고 죽을 수 있는가? 하고 딱 묻는 것입니다. 그러면 아, 只今 죽어야 되는데 이것이 걸리고, 이것이 걸리고 하면서 이때 걸리는 것은 몇
            가지나 될 것 같습니까? 절대 열 개를 넘지 않습니다. 많아 봐야 다섯 가지程度 가 걸립니다. 아니, 다섯도 많아요. 두 개나 세 개에 걸립니다. 欲求 自體의 아이템을 찾아 헤맬 때는 백 개가
            넘던 것이 정작 죽음 앞에서 問題가 되는
            欲求는 많아야 다섯 개程度밖에 안 된다는 말입니다. 그래서 이 다섯 가지가 무엇인지 알아내서 그것만 解決 해 버리라는 것 입니다. 그것만 解決해 버리면 OK가 된다는 것입니다. 只今 여러分들이
            죽음 暝想을 하게 되면, “내가 只今 죽는다. 걸림 없이 갈 수 있는가?” 이런 물음 앞에서 무엇 무엇 때문에 어려워하면서 몇 가지에는 걸릴 것입니다. 그러면 暝想으로 그것만 解決하면 된다고
            하는 것이 죽음 暝想입니다.</p>
        <p> 그 다음은 나지사 暝想입니다. 나지사 暝想은 憤怒, 瞋과 關係됩니다. 欲求는 죽음 暝想을 通해서 解決되고 知足 暝想을 通해서 不滿 思考가 解決되고 非我 暝想을 通해서 實體 思考, 가치 思考가
            解決됩니다. 그래서 痴와 貪이 解決되어서 이제는 거의 다 사람이 되어가고 있습니다. 마지막으로 하나만 더 해버리면 완전히 사람 같은 사람이 되는 겁니다. 여러 分들 只今 마음속이 어떻습니까?
            무언가 떠올리면 不快해지는 것이 있습니까? 그것을
            떠올리면 不快한 것이 있다면 내 속에 그것과 相應한 憤怒가 있음을 의미하는 것입니다. 그러면 그 憤怒를 어떻게 解決 할 수가 없겠느냐 하는 것입니다. 떠올리면 不快해지는 것, 憤怒의 조건이 되는
            것들을 다 열거해 보십시오. 몇 개程度 열거됩니까? 사람에 따라서 다르겠지만 일단 현재 憤怒의 對象이 되는 아이템들, 현재 잡히는 것들을 열거해 보십시오.</p>
        <p> 그 다음으로 只今은 이미 解決되어서 없지만 과거에 있었던 것도 열거해 보십시오. 그리고 또 앞으로 살다가 또 바로 일어날 그런 것도 써보십시오. 과거에 있던 것들, 현재 마구 일어나고 있는 것을
            써두고 이것을 가지고 구나,겠지,감사(나지사) 라는 暝想을 해서 하나씩 하나씩 整理 를 합니다. 整理된 갯수가 어느 임계선을 넘어서게 되면 구나,겠지,감사의 힘이 나에게 딱 붙게 됩니다. 그래서
            “쌍!” 했더라도 으흠 내가 또 썅!
            했네 하면서 구나,겠지,감사 하면서 한 건 解決하고, 解決 하고 하면서 憤怒問題가 확연해집니다. 그러면 아하, 이제 내 意識 空間에 "썅!“은 영원히 없어져버렸구나 하게 되었다면 이제 모든 번뇌가
            깨끗하게 사라져 버렸으니 텅 빈 槪念이전만 남습니다. 이것이 사람이라는 말입니다. 이것이 사람입니다. 여러分 들이 이것이 아니라면 아직 사람이 덜 된 것이지요.</p>
        <p> 번뇌 構造와 相應해서 우리들이 修心을 어떻게 해가야 할 것이냐 다시 한 번 整理해 봅시다. 主波羅蜜하나로는 허공을 노래합니다. 그리고 助波羅蜜 1번인 知足 暝想을 通해서 不滿 思考를 척결하고
            助波羅蜜 2 番인 非我 暝想을 通해서 實體 思考, 價値 思考를 척결하고, 3 番인 죽음 暝想을 通해서 欲求 念體를 척결하고 4 番 나지사 暝想을 通해서 憤怒 念體를 척결 해 버립니다. 이러한 主, 助
            , 細波羅蜜은 同事攝의 修心體系입니다. 그리고
            인류 歷史상 修心體系를 이程度로 정교하게 整理해 놓은 동네는 없어요. 내가 그런 쪽 전문가인데 내 정보次元에서는 그런 곳이 별로 없습니다. 그리고 불교가 너무너무 고마운 것은 이러한 體系들을
            전문的으로 소상하게 해 놓았다는 것입니다. 그런데 그 소상한 불교의 修心體系가 여러分들에게 傳達되려면 백 년은 걸려야 됩니다. 왜냐? 도전하려고 해도 어렵기 때문입니다. 唯識사상 하나만
            工夫하려고 해도 唯識책을 한番 보아야 하는데
            거기에서 막혀. 그래서 하려고 하면 또 막혀버리고, 또 막혀버리고. 八不中道 工夫하면 좋다고 하더라 하는데 龍樹의 八不中道안되고, 도전을 해도 안돼. 해도 안돼. 그래서 아이고, 내가 도전한지
            20년이 됐는데도 불교 修心體系만 나오면 막연해, 이렇게 됩니다. 그래서 내가 불교 修心體系를 효과적으로, 體系적으로, 요즘 세대에 맞게 인스턴트로 쫙 만들어서 뿌려주니까 애들이 먹으면서
            “어머나, 이렇게 쉬운 놈의 불교를…” 하는
            것입니다. 그런 意味로 여러分들, 축하합니다. 불교 修心體系 , 여기까지입니다.</p>
    </section>

</main>