<div class="container-fluid" ng-controller="Book1Ctrl">
	<div class="row">
		<div class="col-md-3">
			<h4 ng-click="changePage('cover', true)">『心を磨く三拍子』</h4>
			<h5>目次</h5>
			<dl>
				<dt>第一部 幸福と幸福の条件</dt>
				<dd ng-click="changePage('p13-20', true)">「正見」という最初のボタン
				</dd>
				<dd ng-click="changePage('p21-29', true)">肯定することなしには超越できない
				</dd>
				<dd ng-click="changePage('p30-35', true)">瞬間瞬間に目覚めていなさい
				</dd>
				<dd ng-click="changePage('p36-42', true)">足かせに気がついたら、それを切れ
				</dd>
				<dd ng-click="changePage('p43-49', true)">私とは何か
				</dd>
				<dd ng-click="changePage('p50-55', true)">言葉でする心の分かち合い
				</dd>
				<dd ng-click="changePage('p56-61', true)">関係を悪くする表現
				</dd>
				<dd ng-click="changePage('p62-68', true)">事実と考えと感情の区別
				</dd>
				<dd ng-click="changePage('p69-75', true)">肯定指向
				</dd>
				<dd ng-click="changePage('p76-80', true)">こころをシェアするための条件
				</dd>
				<dt>第二部 生活仏教、どうしたらいいか</dt>
				<dd ng-click="changePage('p83-90', true)">それなりの解脱と４つ問いかけ
				</dd>
				<dd ng-click="changePage('p210-214', true)">覚めていること
				</dd>
			</dl>
		</div>
		<div class="col-md-9">
			<div style="width:100%;" ng-animate="{enter: 'view-enter', leave: 'view-leave'}" ng-include="book1template.url"></div>
			<!-- div style="width:100%;" ng-animate="{enter: 'view-enter', leave: 'view-leave'}" ng-include="src='pages/book3steps/cover.html'"></div -->

		</div>
	</div>
</div>
